* {
    box-sizing: border-box;
}

/* .container-main {
    background-image: url("<?= base_url(); ?>
assets/landing_new/css/back1.jpg");
background-repeat: no-repeat;
background-size: cover;
}

*/ .image-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.image-link img {
    width: 100%;
    height: 100%;
}

.image-link .button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #FFC600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 0.80rem;
    width: 70%;
}

.image-link:hover img {
    opacity: 0.7;
    -webkit-filter: none;
    filter: blur(1px);
}

.image-link:hover .button {
    display: block;
    opacity: 1;
}

.custom-bg {
    background: rgba(0, 0, 0, 0) linear-gradient(152deg, #4eb9d3 0, #007bb3 72%, #0375a1 100%) repeat scroll 0 0;
}

.tailwind-container * {
    all: initial;
}

/* Navbar */
#main-menu li a,
#main-menu2 li a {
    padding: 10px;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

#main-menu li a i,
#main-menu2 li a i {
    padding-right: 5px;
}

/* Slideshow */

/* .image-slideshow {
    position: relative;
    margin: auto;
}

.image-slideshow img {
    width: 100%
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
} */


/* Why Choose Kiac? */

.text-choose,
.text-course {
    color: #036e9d;
}

.card-container {
    background-color: rgba(3, 110, 157, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-container:hover,
.card-container:focus {
    background-color: rgba(3, 110, 157, 1);
}

.gallery-image,
.gallery-image:focus {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-left: 1px solid rgba(3, 110, 157, 0.3);
    border-right: 1px solid rgba(3, 110, 157, 0.3);

}

.gallery-image:hover,
.gallery-image:hover:focus {
    box-shadow: 0 0.5em 0.5em -0.5em var(--hover);
    transform: translateY(-0.8em);

}

/* Our Courses */

.program-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.box {
    width: 14em;
    height: 14em;
    border: 1px solid rgba(3, 110, 157, 0.3);
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 1em;
    text-align: center;
    margin: 1em;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box h2 {
    position: relative;
    display: inline-block;
    color: #036e9d;
    padding: 10px 0;
}

.box h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 3em;
    border-bottom: 3px solid #036e9d;
}

@media (max-width: 768px) {
    .program-container {
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin: 0.5em 0;
    }
}

/* Service Section */
.news_events {
    margin-top: -20px;
}

.txt,
.txt-service {
    color: #036e9d;
}

.pt50 {
    padding-top: 50px;
}

.why_chosse_list {
    padding-top: 10px;
}

.why_chosse_list li,
.more {
    list-style-type: none;
    color: #036e9d;
}

.why_chosse_list li:hover,
.more:hover,
.txt:hover,
.panel:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.why_chosse_list li .choose_icon img {
    width: 100%;
    height: auto;
}

.bottom-bdr {
    border-bottom: 3px solid #036e9d;
    display: block;
    width: 8em;
    padding-top: 5px;
}

.home-events,
.panel-group {
    position: relative;
    padding-top: 10px;
}

.col-xs-2 {
    width: 16.66666667%;
}

.home-events .calendar {
    background: #009edd;
    color: #FFF;
    float: left;
    height: 55px;
    margin-right: 20px;
    margin-top: 7px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    width: 55px;
}

.home-events .calendar .month {
    display: block;
    font-size: 1em;
}

.home-events .calendar .day {
    display: block;
    font-size: 1.6em;
}

.pl20_lg {
    padding-left: 20px;
}

.horizontal {
    margin: 10px 0 20px;
    opacity: 0.1;
}

.panel-group .panel {
    border: none;
    margin: 10px 0 20px;
}

.panel-group .panel .panel-heading {
    background-color: transparent;
}

.panel-group .panel .panel-title {
    font-size: 16px;
}

.panel-group .panel .panel-title a {
    text-decoration: none;
    color: inherit;
}

/* Contact us */

.txt-contact {
    position: relative;
    display: inline-block;
    color: #036e9d;
    padding: 10px 0;
}

.txt-contact::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 4em;
    border-bottom: 3px solid #036e9d;
}

.reviews .column .section-title {
    position: relative;
    display: inline-block;
    color: #036e9d;
    padding: 10px 0;
}

.reviews .column .section-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 4em;
    border-bottom: 3px solid #036e9d;
}

.contact-container {
    margin-top: -50px;
    width: 99%;
    justify-content: center;
    align-items: center;
}

.contact-container input[type=text],
.contact-container input[type=email],
.contact-container textarea {
    width: 70%;
    padding: 8px;
    border: 1px solid #036e9d;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    border-radius: 5px;
}

.contact-container input[type=text]::placeholder,
.contact-container input[type=email]::placeholder,
.contact-container textarea::placeholder {
    color: black;
    opacity: 0.8;
}

.contact-container input[type=submit] {
    background-color: #0d6efd;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #009edd;
}

.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .column,
    .contact-container input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Testimonials */



.testimonial-container {
    position: relative;
    display: flex;
    overflow: hidden;
}

.testimonial-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
    color: #0d6efd;
    padding: 8px 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.testimonial-button:hover {
    background-color: #009edd;
    color: #fff;
}

.testimonial-button-prev {
    left: 10px;
}

.testimonial-button-next {
    right: 10px;
}

.testimonial-slider {
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    transition: all 0.3s;
    height: auto;
}

.testimonial {
    display: inline-block;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    flex: 0 0 33.33%;
}

@media screen and (max-width: 768px) {
    .testimonial {
        flex: 0 0 100%;
    }
}

.testimonial .bg-white {
    border-left: 1px solid #036e9d;
    transition: transform 0.3s ease;
}

.testimonial .bg-white:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid rgba(3, 110, 157, 0.3);
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.reviews .column {
    box-shadow: none !important;
}

.testimonial-content {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 14rem;
}

.testimonial h4 {
    color: #036e9d;
}

.testimonial h4,
.testimonial h5 {
    text-align: center;
}

.testimonial h5 {
    padding-bottom: 10px;
}

.testimonial h4,
.testimonial p {
    margin: 0;
}

.testimonial-text {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
}

/* Footer */

.footer-container {
    bottom: 0;
    background-color: #e5e5e5;
    padding: 1px;
}

.footer-heading {
    color: #666;
    text-transform: uppercase;
}

.main_footer_links ul li {
    font-size: 14px;
    color: #036e9d;
    padding: 5px 0;
    font-weight: 600;
}

.main_footer_links ul li a:hover,
.copyright:hover {
    text-decoration: underline;
    color: #036e9d;
}

.footer-social li {
    border: 2px solid #036e9d;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
}

.footer-social li {
    border: 2px solid #036e9d;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    color: #036e9d;
}

/* study_kiac.php */
